
{% extends 'base.html.twig' %}

{% block title %}Вход!{% endblock %}

{% block body %}
    <div class="sign-in-popup">
        <div class="row">
            <div class="col-md-12 mb-30">
                <h3>Вход</h3>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form method="post">
                    <label for="sign-in-input">Email: <abbr class="required" title="required">*</abbr></label>
                    <input type="email" value="{{ last_username }}" name="email" id="sign-in-input" class="form-control" required autofocus>
                    <label for="sign-in-password">Парола: <abbr class="required" title="required">*</abbr></label>
                    <input type="password" name="password" id="sign-in-password" class="form-control" required>
                    <div class="checkbox mb-3">
                        <input type="checkbox" id="ship-to-different-address-checkbox"
                               class="input-checkbox"  name="_remember_me"value="1">
                        <label for="ship-to-different-address-checkbox" class="checkbox">Запомни ме</label>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <input type="submit" name="sign-in" value="ВХОД" class="btn btn-md btn-dark btn-button">

                    <a href="#" class="sign-in-popup__forgot-password">Забравена парола?</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}





