{% extends 'base.html.twig' %}


{% block main %}

    <div style="margin: 50px;">

        <h1>Добавяне на МОДЕЛ</h1>


        <form action="{{ path('addProduct') }}" method="post" enctype="multipart/form-data" id="addModel">

            <label>Заглавие</label>
            <label style="display: none; color: red" id="addProductNameWarning">*Това поле е задължително</label>
            <input  type="text" name="products[title]" id="addProductName">
            <label>Модел №</label>
            <label style="display: none; color: red" id="addProductModelNumberWarning">*Това поле е задължително</label>
            <input type="text" name="products[modelNumber]" id="addProductModelNumber">
            <label>Цена</label>
            <label style="display: none; color: red" id="addProductPriceWarning">*Това поле е задължително</label>
            <input type="text" name="products[price]" id="addProductPrice">
            <label>Размери</label>
            <input type="text" name="products[Sizes]">
            <label>Цвят</label>
            <label style="display: none; color: red" id="addProductColorWarning">*Това поле е задължително</label>
            <input type="text" name="products[color]" id="addProductColor">
            <label>Категория</label>
            <label style="display: none; color: red" id="addProductCategoryWarning">*Това поле е задължително</label>
            <select name="products[category]" id="addProductCategory">
                <option value="choice">Изберете...</option>
                <option value="womenSportShoes">дамски спортни обувки</option>
                <option value="manSportShoes">мъжки спортни обувки</option>
                <option value="manOfficialShoes">мъжки официални обувки</option>
                <option value="womenBracelet">дамски гривни</option>
                <option value="manBelts">мъжки колани</option>
                <option value="wallets">портфейли</option>
                <option value="manBracelet">мъжки гривни</option>
            </select>
            <label>Описание</label>
            <textarea type="text" name="products[description]"></textarea>
            <label>Снимка 1</label>
            <input type="file" name="file[]">
            <label>Снимка 2</label>
            <input type="file" name="file[]">
            <label>Снимка 3</label>
            <input type="file" name="file[]">
            <label>Снимка 4</label>
            <input type="file" name="file[]">
            <label>Снимка 5</label>
            <input type="file" name="file[]">

            <input type="submit">

        </form>

    </div>

{% endblock %}