{% extends 'base.html.twig' %}


{% block main %}

    <div style="margin: 50px;">

        <h1>Добавяне на МОДЕЛ</h1>


        <form action="{{ path('addProduct') }}" method="post" enctype="multipart/form-data">

            <label>Заглавие</label>
            <input type="text" name="products[title]">
            <label>Модел №</label>
            <input type="text" name="products[modelNumber]">
            <label>Цена</label>
            <input type="text" name="products[price]">
            <label>Размери</label>
            <input type="text" name="products[sizes]">
            <label>Цвят</label>
            <input type="text" name="products[color]">
            <label>Категория</label>
            <select name="products[category]">
                <option value="womenSportShoes">дамски спортни обувки</option>
                <option value="manSportShoes">мъжки спортни обувки</option>
                <option value="manOfficialShoes">мъжки официални обувки</option>
                <option value="womenBracelet">дамски гривни</option>
                <option value="manBelts">мъжки колани</option>
                <option value="wallets">портфейли</option>
                <option value="manBracelet">мъжки гривни</option>
            </select>
            <label>Описание</label>
            <textarea type="text" name="products[description]"></textarea>
            <label>Снимка 1</label>
            <input type="file" name="file[]">
            <label>Снимка 2</label>
            <input type="file" name="file[]">
            <label>Снимка 3</label>
            <input type="file" name="file[]">
            <label>Снимка 4</label>
            <input type="file" name="file[]">
            <label>Снимка 5</label>
            <input type="file" name="file[]">

            <input type="submit">

        </form>

    </div>

{% endblock %}