
{% extends 'base.html.twig' %}

{% block title %}Вход!{% endblock %}

{% block body %}
    <div class="sign-in-popup">
        <div class="row">
            <div class="col-md-12 mb-30">
                <h3>Смяна на парола</h3>
                <form method="post" action="{{ path('changePassword')}}">
                    <label for="sign-in-input">Стара парола: <abbr class="required" title="required">*</abbr></label>
                    <input type="password"  name="oldPassword" id="sign-in-input" class="form-control" required autofocus>
                    <label for="sign-in-password">Нова парола: <abbr class="required" title="required">*</abbr></label>
                    <input type="password" name="newPassword" id="sign-in-password" class="form-control" required>
                    <label for="sign-in-password">Повторете новата парола: <abbr class="required" title="required">*</abbr></label>
                    <input type="password" name="repeatNewPassword" id="sign-in-password" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <input type="submit" name="sign-in" value="ВХОД" class="btn btn-md btn-dark btn-button">

                    <a href="#" class="sign-in-popup__forgot-password">Забравена парола?</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}





