
{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
    <div class="sign-in-popup">
        <div class="row">
            <div class="col-md-12 mb-30">
                <label><a href="{{ path('app_register') }}">Нямате профил? Регистрирайте се сега ТУК!</a></label>
                <h4>Забравена парола</h4>

                <form method="post">
                    <label for="sign-in-input">Моля въведете Email на профила, чиято парола сте забравили</label>
                    <input type="email"  name="email" id="forgottenPassword" class="form-control" required autofocus>

                    <input type="submit" name="sign-in" value="ИЗПРАТИ" class="btn btn-md btn-dark btn-button">

                </form>
            </div>
        </div>
    </div>

{% endblock %}





